
@{
    ViewData["Title"] = "Income";
}

@section Styles{
    
}

@section Scripts
{
    <script src="~/customScripts/incoming/incomingIncome.js?v=66"></script>
}

<div class="row mt-2">
    <div class="table-responsive">
        <table id="incomingForms" class="table table-hover table-bordered" style="width: 100%;">
            <thead>
            <tr>
                <th class="thFormId" style="width: 75px !important;">Form №<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                <th class="thFormCreateDate">Hazırlanma tarixi<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                <th class="thInstructorFullName">Təlimatçının adı,soyadı<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                <th class="thInstructorjobName">Təlimatçının vəzifəsi<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                <th class="thInstructionType" style="width: 100px !important;">Təlimatın növü<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                <th class="thInstructionStatus" style="width: 100px !important;">Status<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
            </tr>
            </thead>
        </table>
    </div>
</div>