
@{
    ViewData["Title"] = "ReportIndex";
}




@section Scripts
{
    <script src="~/shared/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script>
    <script src="~/shared/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.az.min.js"></script>

    <script src="~/shared/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/shared/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/customScripts/report/reportIndex.js?v=66"></script>
}
@section Styles{
    <link href="~/shared/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/shared/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-9">
        <h4 id="reportTitle">SƏTƏM üzrə formların hesabatı</h4>
    </div>
</div>
<div class="row mt-2">
    <div class="table-responsive">
        <table id="reportTable" class="table table-hover table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th class="thFormId">Form №<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                    <th class="thFormCreateDate">Hazırlanma tarixi<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                    <th class="thInstructorFullName">Təlimatçının adı,soyadı<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                    <th class="thInstructorjobName">Təlimatçının vəzifəsi<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                    <th class="thInstructionType">Təlimatın növü<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                    <th class="thInstructionStatus">Status<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
