<div class="modal fade" id="workerInformationModal">
    <div class="modal-dialog mh-100 h-75 mw-100 w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="workerInformationModalLabel">Məlumatlar</h5>
                <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="worker_information_search" class="table table-hover table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="thUserId" hidden>Id<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                                <th class="thuserName">Adı<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                                <th class="thuserSurname">Soyadı<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                                <th class="thuserPatronimic">Ata adı<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                                <th class="thjobName">Vəzifəsi<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                                <th class="thuserStructure">Struktur<br /><input type="text" placeholder="&#xF002;" class="form-control" /></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close_modal" id="selectWorkerInformation">Seç</button>
                <button type="button" class="btn btn-secondary close_modal" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>