<div class="modal fade" id="showPhotoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shoPhotoModalLabel"></h5>
                <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close" style="margin-top: -14px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 col-xl-7">
                        <label class="title">Təlimatlandırılan şəxsin adı, soyadı, ata adı</label>
                        <input disabled class="form-control nameSurnameShowModal" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4 col-xl-4">
                        <label class="title">Şəklin çəkildiyi tarix</label>
                        <input disabled class="form-control photoDateShowModal" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">İşçinin şəkli</div>
                            <div class="panel-body">
                                <div id="photoResult">Sizin şəkliniz burada görünəcək...</div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mövcud şəkil</div>
                            <div class="panel-body">
                                <div id="matchPhotoResult">Sizin şəkliniz burada görünəcək...</div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: -30px; justify-content: space-between; margin-bottom: -13px;">
                <div id="qrcode" style="margin-left: -9px !important;"></div>
                <button type="button" class="btn btn-secondary close_modal" data-dismiss="modal" style="margin-top: 66px !important;">Bağla</button>
            </div>
        </div>
    </div>
</div>