<div class="modal fade" id="showPhotoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shoPhotoModalLabel">Şəkil</h5>
                <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close" style="margin-top: -14px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 col-xl-7">
                        <label class="title">Təlimatlandırılan şəxsin adı, soyadı, ata adı</label>
                        <input disabled class="form-control nameSurnameShowModal" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Çəkilən şəkil</div>
                            <div class="panel-body">
                                <div id="photoResult">Sizin şəkliniz burada görünəcək...</div>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_modal" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>